* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"poppins", serif;
  background-color: #ddc1c1;
}
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #7b81be;

}

.sub{
  padding: .4em .7em;
  background-color: green;
  color: white;
  border-radius: 10px;
}
#msg{
color: #2c2729;
  margin:0 0 1em 0;
  background-color: transparent;
  
  border: none;
}
.error{
  color: hotpink;
}
.success{
  color: rgb(27, 233, 27);
   padding: 0.3em;
  width: 480px;
  
  border-radius: 2px;
  margin: 10px 0px;
}
.num{
  padding: .6em;   
  border-radius: 10px;
  outline: none;
  border: 1px solid transparent;
  width: 90%;
}
.box1{
  width: 50vw;
  height: 50vh;
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff10;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  
}
.label{
  background-color: transparent;
  color: white;
}